@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    color:#8F5B4A;
}

.App {
    background-color: #FBF8EE;
}

header {
    vertical-align: top;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 3%;
    padding-left: 5px;
    background-color: #8F5B4A;
  }
  
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
  
.s1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

h1 {
    color: #8F5B4A;
    font-size: 42px;
    text-align: center;
    margin-bottom: 16px;
}

.search-box {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    max-width: 480px;
    margin-bottom: 16px;
    transition: 0.4s;
}

.search-box input {
    font-family: sans-serif;
    font-size: 14px;
    color: #885D4D;
    border-radius: 20px;
    padding: 5px 10px;
    display: block;
    appearance: none;
    outline: none;
    border: solid 1px #885D4D;
    width: 100%;
    transition: 0.4s;
}

.nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 5px 7px;
    height: 50px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }

  .button {
    display: inline-block;
    padding: 15px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #885D4D;
    background-color: #FFECBC;
    border: none;
    border-radius: 10px;
    font-family: 'Fredoka One', cursive;
    font-weight: 1000;
  }
  
  .button:hover {background-color: #f2db76}
  
  .button:active {
    background-color: #f2db76;
    transform: translateY(4px);
  }

.results {
    max-width: 500px;
    white-space: pre-line;
}

/* CSS FOR THE DASHBOARD */
.dashboard:after {
    content: "";
    display: table;
    clear: both;
  }

.sideleft {
    float: left;
    width: 25%;
    min-height: 100vh;
    padding: 10px;
    background-color: #FFECBC;
}

.sideright {
    float: left;
    width: 25%;
    background-color: #FBF8EE;

    display: grid;
    grid-template-rows: auto;
    gap: 20px;
}

.middle {
    float: left;
    width: 50%;
    min-height: 100vh;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    background-color: #FBF8EE;
    text-align: left;
}

form{
    margin-top: 10px;
    border-radius: 20px;
}


form input {
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    color: rgb(14, 12, 12);
}

.search-btn {
  font-size: 14px;
  width: 90px;
  height: 40px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  border: solid 1px #885D4D;
}

.list-container {
    margin-top: 50px;
}

.list-container ul li {
    width: 100%;
    background: white;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 5px 0;
    box-shadow:-3px 6px 4px #222;
}

ul li span{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    text-align: ce;
}

.one-box {
    display: grid;
    border-style: solid;
    gap: 20px;
    background-color: white;
  }


/* CSS FOR THE DASHBOARD2 PAGE */
dashboard2body {
  background-color: #333;
  color: #fff;
}

.taskBg{
  background-color: white;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;

}

.taskBg .done .taskText{
  text-decoration: Line-through;
  opacity: 0.3;
}

.taskNumber {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px; 
  align-items: center;
  justify-content: center;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskBg .taskText{
  flex: 1;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: incline-block;
}

.taskBg .iconsWrap span {
  display: incline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #00ff89;
}

.taskBg .iconsWrap span:hover {
  color: yellow;
}


/* CSS FOR THE LOGIN PAGE */
.auth-form-container {
  text-align: center;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: 0.5rem;
  margin: 0.1rem;
}

.login-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 50vh;
    align-items: center;
    justify-content: center;
  
    padding: 1rem;
    margin: 0.1rem;
    background-color: white;
    box-shadow: none;
  }



@media screen and (min-width: 600px){
  .auth-form-container{
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label
{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  border: none;
  border-radius: 10px;
}


button2 {
  border: none;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.25rem;
  font-size: 10px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 9px;
}

.submit {
	background-color:#885D4D;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:16px 31px;
	text-decoration:none;
    width: 300px;
    margin-bottom: 8px;
}

.submit:active {
    background-color: #5A3A2F;
	position:relative;
	top:1px;
}
#dancing {
    width: 80px;
    height: auto;
}

#panini {
  position: relative;
    width: 30%;
    height: 30%;
    animation: dance 1.5s linear infinite;
}

#panini2 {
    width: 45%;
    height: 20%;
}

#black {
    color: black;
}

.ideas-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  gap: 30px;
  padding: 2em;
  border-right: solid #885D4D;
}

.ideas-container h1 {
  text-align: left;
  margin-bottom: 0;
}

.idea-group {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 3px 2px #888888;
}

.idea-name {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
}

.idea-desc {
  font-family: Arial, Helvetica, sans-serif;
}

#unique {
    text-align: left;
    padding-bottom: 16px;
}

#poopy {
    text-align: left;
    padding-top: 10%;
}

.button-group {
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: flex-end;
  gap: 10px;
  align-items: flex-end;
}

.add-btn {
  box-shadow: none;
}

.add-btn:hover .plus-svg {
  fill: #885D4D;
}

.loading-screen {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.loading-group {
  margin: auto;
  margin-top: 10rem;
}

#loading {
  height: 300px;
  width: 300px;
}

.logo-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  text-decoration: none;
}

#logo-text {
  color: #FFECBC;
  margin-left: -25px;
  padding-bottom: 5px;
  width: 80px;
  text-align: center;
  text-decoration: none;
}

#main-title {
  font-size: 64px;
}

@keyframes dance {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  
}

.select-page {
  display: flex;

}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 2em;
  flex: auto;
}

.filter-section h1 {
  text-align: left;
  margin-bottom: 0;
}

.filter-container {
  border-radius: 10px;
  border: solid 1px #885D4D;
  background: #ffffff;
  padding: 15px 30px;
  width: 100%;
}

.filter-search-box {
  display: flex;
  flex-direction: column;
}

.difficulty-selection {
  display: flex;
  justify-content: space-evenly;
}

.difficulty-btn {
  border-radius: 5px;
  background: #FFECBC;
  border: none;
  padding: 8px 12px;
  min-width: 100px;
  box-shadow: 1px 2px 2px #222;
}

.selected {
  background: #FFDA7B;
}