* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    color:#8F5B4A;
}

.App {
    background-color: #FFF4D6;
}

header {
    vertical-align: top;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 3%;
    background-color: #8F5B4A;
  }
  
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
  
.s1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #8F5B4A;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    max-width: 480px;
    margin-bottom: 16px;
    transition: 0.4s;
}

.search-box input {
    display: block;
    appearance: none;
    outline: none;
    border: none;

    padding: 16px;
    width: 100%;
    transition: 0.4s;
}

.nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 3px 7px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #8F5B4A;
    background-color: #FFF4D6;
    border: none;
    border-radius: 10px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 1000;
  }
  
  .button:hover {background-color: #f2db76}
  
  .button:active {
    background-color: #f2db76;
    transform: translateY(4px);
  }

.results {
    max-width: 500px;
    white-space: pre-line;
}

/* CSS FOR THE DASHBOARD */
.dashboard:after {
    content: "";
    display: table;
    clear: both;
  }

.side {
    float: left;
    width: 25%;
    min-height: 100vh;
    padding: 10px;
}

.middle {
    float: left;
    width: 50%;
    min-height: 100vh;
    padding: 10px;
    background-color: #07f280;
}

form{
    margin-top: 30px;
    box-shadow: -3px 6px 4px #222;
}

form input {
    width: 250px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 5px;
    color: rgb(14, 12, 12);
}

form button {
    width: 50px;
    height: 40px;
    border: none;
    background: #0088a9;
    color: white;
    outline: none;
    cursor: pointer;
}

.list-container {
    margin-top: 50px;
}

.list-container ul li {
    width: 100%;
    background: white;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    display: block;
    margin: 5px 0;
    box-shadow:-3px 6px 4px #222;
}

ul li span{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    text-align: ce;
}

.auth-form-container, .login-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  align-items: center;
  justify-content: center;
  background-color: #FFF4D6;
  padding: 0.5rem;
  margin: 0.1rem;
}

@media screen and (min-width: 600px){
  .auth-form-container{
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label
{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button2 {
  border: none;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.25rem;
  font-size: 10px;
}

button3 {
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.5rem;
}