* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;

}

body {
    background-color: #FFF4D6;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
  }
  
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color:black;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    max-width: 480px;
    margin-bottom: 16px;
    transition: 0.4s;
}

.search-box input {
    display: block;
    appearance: none;
    outline: none;
    border: none;

    padding: 16px;
    width: 100%;
    transition: 0.4s;

}

.results {
    white-space: pre-line;
    max-width: 500px;
}